extends layout

block content
    include navbar.jade
    +navbar('#')
    - if (logout)
        .alert.alert-success.alert-dismissable(role="alert")
            button.close(data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong You are now logged out. See you soon! :)
    - else if (newUser && user)
        .alert.alert-success.alert-dismissable(role="alert")
            button.close(data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only Close
            strong Welcome to git-lesson, #{user.username}!
    .jumbotron
        .container
            h1#title git-lesson_
            p Share coding tips and lessons right from your commits!
            - if (!user)
                a(href="/login")
                    button#loginButton.btn.btn-medium.btn-primary
                        span Log in with GitHub
                        i.fa.fa-github
    - if (!user)
        include faq.jade
        +faq(true)
    .row
        .col-md-8.col-md-offset-2
            include howto.jade
            +howto()
                    
    - if (tips)
        .row
            .col-md-8.col-md-offset-2
                h3 Latest tips
                include lessonlist.jade
                +lessonlist(tips)
    script.
        
