extends layout

block content
	.lesson
		.header
			- if (repo)
				a.repoLink.pull-right(href="#{repo.url}/commit/#{lesson.commitId}") Source commit
			.lessonDate.pull-right #{lesson.postDate}
		.lessonText 
			!= lesson.postHtml
