extends layout

block content
	include navbar.jade
	+navbar('/')
	.row
		.col-md-8.col-md-offset-2
			.profile.row
				img.profileImage.small(src="#{profile.avatarUrl}")
				div.profileDetails
					h3.profileLink 
						a(href="https://github.com/#{profile.username}") @#{profile.username}
			.row
				h1 Posted lessons
				include lessonlist.jade
				+lessonlist(postedLessons)
