body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color: #00B7FF
#title
    font: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
#loginButton > i
    font-size: 24px
    margin-left 6px
