body
    padding: 50px
    padding-top: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF

#title
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

#loginButton > i
    font-size 24px
    margin-left 6px

#logoutButton:hover
    color: rgb(25, 103, 190);

#logoutButton *
    margin-right: 4px

.lesson
    background white
    border-color gray
    border-radius 4px
    border-style solid
    border-width 1px
    padding 10px
    margin-bottom 10px
    /*box-shadow*/

.lesson > .header
    border-bottom-color black
    border-bottom-style solid
    border-bottom-width 1px
    height 60px

.lesson > .header .pull-left
    float: left
    margin-left: 0px
    margin-right: 4px;

.lesson > .header .pull-right
    float: right
    margin-right: 0px
    margin-left: 4px;

.lesson > .header > a
    margin-right 4px

.lesson > .header > img.profileImage
    height: 48px;
    width: 48px;
    float: left;

.lesson > .header > a.userLink
    font-size: 16px;
    color: black;
    text-decoration: none;

.lesson > .header > a.userLink:hover
    text-decoration: underline;

.lesson > .footer
    border-top-color black
    border-top-style solid
    border-top-width 1px

.lesson > .footer > .tags
    height 16px
    border-radius 8px
    border-color gray
    border-style solid

.lesson .repoLink
    font-size 14px
    color gray

.lesson .lessonText
    margin-top 6px
    display block

.lesson .lessonDate
    color gray

nav .navbar-brand
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

code
    color: black;
    background-color: rgb(240, 240, 240);

.profile .profileImage
    height: 230px;
    width: 230px;
    float: left;

.profile .profileImage.small
    height: 115px;
    width: 115px;

.profile .profileDetails *
    margin-left: 10px;

.profile .profileLink
    margin-top: 0px;

.profile .profileLink a
    color: black;
    text-decoration: none;

.profile .profileLink a:hover
    text-decoration: underline;

.faqAnswer
    padding-left: 5px;
    padding-right: 5px;
